.table {
  @apply w-full;

  thead {
    tr {
      @apply bg-white dark:bg-gray-900;

      th {
        @apply py-2 px-6 text-left font-normal text-sm text-gray-500;
      }

      th:first-child {
        @apply rounded-tl;
      }

      th:last-child {
        @apply rounded-tr;
      }
    }
  }

  tbody {
    tr {
      .cell {
        @apply h-12;
      }

      .cell.solidRow {
        @apply px-0;
      }

      .cell:first-child {
        @apply pl-0;
      }

      .cell:last-child {
        @apply pr-0;
      }

      .cellContent {
        @apply h-full w-full flex items-center;
        @apply transition py-1 px-6 bg-white dark:bg-gray-900 text-gray-700 hover:text-gray-800 dark:text-gray-200 dark:hover:text-gray-100;
      }
    }

    tr:hover {
      .cellContent {
        @apply bg-gray-50 dark:bg-gray-800;
      }
    }

    tr:first-child {
      .cell {
        @apply pt-[2px];
      }
    }

    tr.emptyRow {
      .cellContent {
        @apply bg-gray-100;
      }

      .cellContent:hover {
        @apply bg-gray-100;
      }
    }
  }
}

.stats {
  @apply mt-[1px] bg-white dark:bg-gray-900 rounded-b px-6 py-2;

  small {
    @apply text-gray-500;
  }
}