ENVIRONMENT="development"

# Prisma requires this URL to be an environment variable
DATABASE_URL=postgresql://iotea:iotea@db:5432/iotea

# Vault Info
VAULT_ADDRESS="http://vault:8200"
API_VAULT_USERNAME="http-api"
API_VAULT_PASSWORD="iotea"