# All the env vars here are tightly coupled with the name of the containers
# in the docker compose file in this folder.

LOG_LEVEL="debug"

# API server port
API_SERVER_PORT=9001

# Orchestrator gRPC end point
ENGINE_GRPC_SERVER_URL="orchestrator:50051"

# Collector runtime metrics end point
COLLECTOR_GRPC_RUNTIME_URL="collector:50053"

# Database
DATABASE_URL=postgresql://iotea:iotea@db:5432/iotea
JWT_SECRET=super-secret-jwt-token-with-at-least-32-characters-long

# Dev Environments
DEVENV_GRPC_SERVER_URL="127.0.0.1:50052"

# Clickhouse
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_PORT=9000
CLICKHOUSE_USERNAME=iotea
CLICKHOUSE_PASSWORD=iotea
CLICKHOUSE_DATABASE=channel_obsv

# Observability
PLATFORM_OTEL_COLLECTOR_ENDPOINT="platform-otel-collector:4317"

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USERNAME=iotea
REDIS_PASSWORD=iotea

# SMTP
SMTP_HOST=inbucket
SMTP_PORT=2500
SMTP_USER=iotea
SMTP_PASSWORD=iotea
