.dropdown {
  @apply relative select-none w-fit;
  min-width: 15rem;

  .currentSpace {
    @apply pr-8 cursor-pointer flex items-center;
  
    .dropdownToggleIcon {
      @apply transition;
      opacity: 0;
    }
  
    .dropdownToggleIcon.open {
      opacity: 100;
    }
  }
  
  .currentSpace:hover {
    .dropdownToggleIcon {
      opacity: 100;
    }
  }
}
