JWT_SECRET=super-secret-jwt-token-with-at-least-32-characters-long
REQUIRE_EMAIL_VERIFICATION=false

NEXT_PUBLIC_GRUENT_URL=http://localhost:9001

EMAIL_SERVER=smtp://username:password@localhost:2500

# GitHub OAuth - must create an OAuth app on GitHub before enabling
# https://docs.github.com/en/apps/oauth-apps/building-oauth-apps/creating-an-oauth-app
NEXT_PUBLIC_GITHUB_ENABLED=false
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
