export DIRECT_URL=postgresql://iotea:iotea@127.0.0.1:5432/iotea
export DATABASE_URL=postgresql://iotea:iotea@127.0.0.1:5432/iotea?schema=app
export ASSETS_FOLDER=assets/
export VAULT_ADDRESS=http://127.0.0.1:8200
export VAULT_USERNAME=http-api
export VAULT_PASSWORD=iotea